.homepage{
    min-height:100vh;
    max-width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align:center;
    /* background-image: linear-gradient(rgba(90, 91, 153, 0.954),rgba(94, 97, 155, 0.741)); */
   /* background-color: #ff6600; */
    /* position: relative; */
    background-color: #fff;
    margin-top: 5vh;
}

