/* font-family: 'Architects Daughter', cursive;
font-family: 'Charis SIL', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Zen Kurenaido', sans-serif; */
/* .container{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
}
.hexagon{
    height:0;
    width:100px;
    border-top:100px solid white;
    border-right:80px solid transparent;
    border-left:80px solid transparent;
}
.hexagon:before{
position:relative;
content:'';
height:0;
width:100px;
border-bottom:100px solid white;
border-right:80px solid transparent;
border-left:80px solid transparent;
left:-80px;
bottom:220px;
} */
@font-face {
    font-family: tarjenpro;
    src: url("./TrajanPro-Bold.otf");
    font-family: tarjen;
    src:url("./Trajan\ Pro.ttf")
}
.parent{
text-align: center;
display: flex;
align-items: center;
justify-content: space-evenly;
margin-bottom:2%;
margin-left: 0%;
padding:0%;
margin-right:0%;

}
.move3{
    position:relative;
    left:4.6rem;
    top:7.2rem;
  
}
.move{
    position:relative;
    left:-0.8rem;
    top:4rem;
  
}
.move2{
    position:relative;
    top:0.85rem;
    left:4.7rem;
  
}
.container{
    position:relative;
    display:flex; 
    align-items: center;
    justify-content:start;
    flex-wrap: nowrap;
    margin:3px; 
  
    
}

.container .hexagon{
    position:relative;
    width:10rem;
    height:10rem;
    margin:8px;

}


.container .hexagon .shape{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #fff;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
    padding:10px;
  
}

.outshape{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#223554;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
    border:8px solid #223554;
}
.Coutshape{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
    border:8px solid #223554;
    background-color:#223554;
}
/* .container .hexagon:hover .shape,.outshape:hover{
transform:translateY(-30px);
background-color:#f8c305;
border:none;
text-align: center;
}
.outshape:hover{
    background-color: #f8c305;
} */

.shape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.shape p{
    color:#dc3545;
    text-shadow: 1px 1px 1px 919191;
    font-family: 'Source Sans Pro', sans-serif;
    margin:2%;
    text-align: center;
    font-size:120%;
    text-transform:uppercase;
    font-weight: 600;
     
   
}
.container .hexagon:hover .shape p{
    color:#dc3545;
}

.shape .center{
    font-size: 120%;
    font-weight:bold;
    color:#000;
    font-family: trajen;
    position: inherit;
    /* text-shadow:1px 10px 3px rgba(219, 146, 146, 0.4); */
}
@media(max-width:630px){
    .container .hexagon{
        position:relative;
        width:9rem;
        height:11rem;
        margin:8px;
    
    }
    .shape p{
        font-size: 90%
    }
    .move{
        position:relative;
        left:-0.3rem;
        top:4rem;
        
    } 
} @media(max-width:330px){
    .container .hexagon{
        position:relative;
        width:8rem;
        height:10rem;
        margin:8px;
    
    }
    .shape p{
        font-size: 80%
    }
    .move{
        position:relative;
        left:0.3rem;
        top:4rem;
        
    } 
} 
 @media(max-width:465px){
    .container .hexagon{
        position:relative;
        width:7rem;
        height:9rem;
        margin:8px;
    
    }
    .shape p{
        font-size: 70%
    }
    .move{
        position:relative;
        left:0.7rem;
        top:4rem;
        
    } 
} 
@media(max-width:430px){
    .container .hexagon{
        position:relative;
        width:7rem;
        height:8rem;
        margin:4px;
    
    }
    .shape p{
        font-size: 60%
    }
    .move3{
        position:relative;
        left:5.2rem;
        top:5.8rem;
        /* animation: rotate 40s infinite linear; */
    }
    .move{
        position:relative;
        left:1.5rem;
        top:4rem;
        /* animation: rotate 40s infinite linear; */
    }
    .move2{
        position:relative;
        top:2rem;
        left:5.2rem;
        /* animation: rotate 40s infinite linear; */
    }
    .parent{
        padding:40px;
    }
} 
@media(max-width:410px){
    .container .hexagon{
        position:relative;
        width:5rem;
        height:6rem;
        margin:4px;
    
    }
    .shape p{
        font-size: 50%
    }
    .move3{
        position:relative;
        left:3.8rem;
        top:5rem;
        /* animation: rotate 40s infinite linear; */
    }
    .move{
        position:relative;
        left:1rem;
        top:4rem;
        /* animation: rotate 40s infinite linear; */
    }
    .move2{
        position:relative;
        top:3rem;
        left:3.8rem;
        /* animation: rotate 40s infinite linear; */
    }
    .parent{
        padding:40px;
    }
} 
@media(max-width:310px){
    .container .hexagon{
        position:relative;
        width:4rem;
        height:5rem;
        margin:4px;
    
    }
    .shape p{
        font-size: 50%
    }
    .move3{
        position:relative;
        left:3.8rem;
        top:5rem;
        /* animation: rotate 40s infinite linear; */
    }
    .move{
        position:relative;
        left:1rem;
        top:4rem;
        /* animation: rotate 40s infinite linear; */
    }
    .move2{
        position:relative;
        top:3rem;
        left:3.8rem;
        /* animation: rotate 40s infinite linear; */
    }
    .parent{
        padding:40px;
    }
} 

/* @media(max-width:360px){
    .parent{
        margin-left:33%;
    }
    .container .hexagon{
        position:relative;
        width:20%;
        height:40%;
    }
    .move3{
        position:relative;
        left:-9px;
        
    }
    .move{
        position:relative;
        left:4rem;
        top:40rem;
    }
    .move2{
        position:relative;
        top:-58px;
        left:-10px;
    }
} */