.container{
    width:400px;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    background-color: rgba(174, 96, 36, 0.74);
}
.subcon{
    width:300px;
    height:360px;
    overflow: hidden;
    border-radius: 10px;
}
.imgi input{
    display: none;
}

.imgi{
    display: flex;
    width: 500%;
    height: 360px;
}
.img{
    width:20%;
    transition: 2s;
}


.manual{
    position:absolute;
    top:80%;
    width:300px;
    display:flex;
    justify-content: center;
  
}
.mbtn{
    border:2px solid greenyellow;
    border-radius: 10px;
    padding:5px;
    cursor: pointer;
    transition: 1s;
    
}
.mbtn:not(:last-child){
    margin-right:10px;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-20%;
}
#radio3:checked ~ .first{
    margin-left:-40%;
}
#radio4:checked ~ .first{
    margin-left:-60%;
}
