.servicetext{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin-left : 2vh;
    margin-top : 2vh;

}
.subhead {
    font-size: 35px;
    font-weight : bold;
    margin-left: 2vh;
    margin-right: 12px;
    margin-top : 2vh;

}
.para{
    margin-top: 4vh;
    
}
.navba{
    width:100vw;
}
.image{
    object-fit: cover;
}
@media(max-width:680px){
    .servicetext{
        flex-wrap: wrap; 
        justify-content: center;
    }
}